{% extends "grumblr/base.html" %}
{% load static %}
{% block title %}Grumblr Reset Password{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}">
{% endblock %}
{% block description %}<meta name="description" content="Reset Password">{% endblock %}
 {% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top" name="{{ user.username }}">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target = "#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url 'home' %}">Grumblr</a>
		</div>

		<div id="navbar" class="collapse navbar-collapse">
			<form class="navbar-form navbar-right">
				
				
				<a href="{% url 'register' %}" class='btn btn-default'>Sign up</a>
			</form>

		</div><!--/.nav-collapse -->
	</div>
</nav>
        {% endblock %}
{% block content %}


<div class="container">
	<div class="row">
		{% for error in form.non_field_errors %}
		<p style="color: red">
		{{ error }}
		</p>
		{% endfor %}
        <h1>Reset Your Password</h1>
		<form method="post" class="form-signin" action="{% url 'reset_password' %}">
            <input id="inputEmail" type="email" class="form-control" placeholder="Email" name="email" required >
            <p></p>
					<input class="btn btn-lg btn-danger btn-block" type="submit" value="Send Email">
			{% csrf_token %}
		</form><!-- form -->


	</div><!-- row -->
</div> <!-- container -->

{% endblock %}
